.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 10%;
  &-content {
    h1 {
      font-size: 6rem;
      font-weight: 700;
    }

    h2 {
      color: $gray;
      font-size: 2rem;
      font-weight: 700;
      margin-top: -0.5rem;
    }
    span {
      color: $green-dark;
      font-size: 1.1rem;
      &::before {
        display: inline-block;
        content: "";
        border-top: 0.1rem solid $green-dark;
        width: 1rem;
        margin: 0 0.5rem;
        transform: translateY(-0.45rem);
      }
    }

    p {
      margin-top: 1rem;
    }
  }
}
