$green-dark: #398e99;
$green-light: #63dbeb;
$orange-dark: #fb7100;
$orange-light: #ffa26d;
$purple-dark: #8937f5;
$purple-light: rgb(154, 189, 255);
$pink-dark: #d53384;
$pink-light: #ff88b6;
$gray: #999;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
